.dashboard_container {
  margin-left: 300px;
  background: #fdfdfd;
  min-height: 100vh;
  padding-top: 50px;
  z-index: 1;
  color: #fff;
}

.dashboard__body-table {
  background: #fff !important;
}

.dashboard__body-table thead {
  background: #333;
}

@media (max-width: 768px) {
  .dashboard_container {
    margin-left: 0px;
  }
}
