.home .home_top {
  background: url('../../images/group.png');
  color: #fff;
}

.home_top .banner_header {
  font-size: 48px;
}
.home_top .container {
  height: 100%;
}
.home_top p {
  font-size: 20px;
}

.home_top .left {
  min-height: 60vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .how_to p {
  font-size: 15px;
}
.home .how_does {
  background: #fcfbfb;
}
.home .mobile_download {
  background: linear-gradient(
    90deg,
    rgb(220, 168, 21) -50.47%,
    rgb(254, 46, 165) 150%
  );
  color: #f9f9f9;
}
.home .mobile_download .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
}
